.nav__container {
  --container-width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.05);
  width: var(--container-width);
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--container-width) * 0.05);
}

.nav__logo {
  height: 31px;
  width: 112px;
}

.search__container {
  width: 517px;
  min-width: 180px;
  margin: 0 20px;
}

.nav__search {
  position: relative;
  width: 100%;
  height: 36px;
  min-width: 50px;
  background: rgba(0, 0, 0, 0.13);
  background-image: url(../../assets/movie-icon.svg);
  background-repeat: no-repeat;
  background-position: 12px;
  padding: 0 47px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #e5e5e5;
}

::placeholder {
  color: #e5e5e5;
}

.search__icons {
  position: absolute;
  cursor: pointer;
  margin-left: -30px;
  margin-top: 10px;
}

.nav__link {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 3rem;
}

.menu__items {
  display: flex;
  align-items: center;
  color: #e5e5e5;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 80px;
}

.menu__items li {
  margin: 0 5%;
  display: flex;
}

.menu__items li:hover {
  color: #1888ff;
}

.li__categories {
  height: 66px;
  align-items: center;
  display: flex;
  margin-left: 14px;
  text-decoration: none;
  color: #e5e5e5;
}

.li__movies,
.li__tvshows,
.li__login {
  text-decoration: none;
  color: #e5e5e5;
}

.fa-bars {
  color: #fff;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 960px) {
  .menu__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .menu__items.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .li__movies,
  .li__tvshows,
  .li__login,
  .li__categories {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .li__movies,
  .li__tvshows,
  .li__login,
  .li__categories {
    border-radius: 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
